<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <address class="text" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="name">
            Sireesha Kolli, MD<br/>
          </span>
          <span itemprop="streetAddress">
            216 Maple Ave<br/>
            Red Bank, NJ 07701<br/>
            <span itemprop="addressLocality">Red Bank</span>,
            <span itemprop="addressRegion">NJ</span>
            <span itemprop="postalCode">07701</span>
          </span>
          <span itemprop="telephone"> 732-655-4568 </span>
        </address>
      </div>
    </div>

  </div>

</footer>
