<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <address class="text" itemprop="address" itemscope itemtype="http://schema.org/Physician">
          <span itemprop="name">
            Sireesha Kolli, MD<br/>
          </span>
          <span itemscope itemprop="address" itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">
              216 Maple Ave<br/>
            <span>
            <span itemprop="addressLocality">Red Bank</span>,
            <span itemprop="addressRegion">NJ</span>
            <span itemprop="postalCode">07701</span>
          </span>
          <br />
          <span itemprop="telephone"> 732-655-4568 </span>
        </address>
      </div>
    </div>
  </div>
</footer>
