<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <section class="container">
      <header id="branding" itemscope itemtype="http://schema.org/Physician">
        <h1 class="name"><a href="/"><span itemprop="legalName">Sireesha Kolli, MD, MPH</span></a></h1>
        <h2 class="tagline" itemprop="medicalSpecialty"> Child, Adolescent and Adult Psychiatrist </h2>
      </header>

      <div id="main">
        <div id="side-container">
            <ul class="menu">
              <li><a href="/">Welcome</a></li>
              <li><a href="about-dr-kolli.html">About Dr. Kolli</a></li>
              <li><a href="conditions-treated.html">Conditions Treated</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="contact-information.html">Contact Information</a></li>
              <li><a href="fees.html">Fees</a></li>
              <li><a href="scheduling.html">Scheduling</a></li>
              <li><a href="policies.html">Policies</a></li>
              <li><a href="erecord.html">eRecord</a></li>
              <li><a href="resources.html">Resources</a></li>
            </ul>
        </div>

        <section id="main-page">
          <div class="page-content">
            <div class="entry-content">
              {{ content }}
            </div>
          </div>
        </section>
     </div>
     <div class="clear"></div>
    {% include footer.html %}
    </section>
  </body>

</html>
